<div class="column">
    {{ sylius_template_event('sylius.shop.layout.header.content') }}
    <h1 class="ui monster section dividing header">
    La boutique de Marcel Séjour
    <div class="sub header more">
    <h2>Reproductions et produits dérivés</h2>
    </div>
    
</h1>
</div>
