{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <h1>Mise à jour des Tags des Tableaux</h1>

    {% if updatedProducts is empty %}
        <p>Aucun tag ajouté.</p>
    {% else %}
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Code</th>
                    <th>Titre</th>
                    <th>Tags ajoutés</th>
                </tr>
            </thead>
            <tbody>
                {% for product in updatedProducts %}
                    <tr>
                        <td><img src="{{ product.url }}" alt="img" width="100" /></td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.title }}</td>
                        <td>
                            {% for tag in product.tags %}
                                <span class="ui label">{{ tag }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
