{% macro hasTaxonCode(product, expectedCode) %}
    {% for productTaxon in product.productTaxons %}
        {% set taxon = productTaxon.taxon %}
        {% if taxon.code == expectedCode %}
            {{ true }}
        {% elseif taxon.parent is not null and taxon.parent.code == expectedCode %}
            {{ true }}
        {% endif %}
    {% endfor %}
    {{ false }}
{% endmacro %}

{% import _self as utils %}

{% set currentTableauCode = currentTableauCode|default(null) %}

<div class="ui four doubling cards">
  {% for product in products %}
  {% if hasExactTaxonCode(product, 'PERSO_MUG') %}


       {% include '@SyliusShop/Product/Box/_miniMugBox.html.twig' with {
            'product': product,
            'currentTableauCode': currentTableauCode
        } %}
        {# {% include '@SyliusShop/Product/Box/_miniMugBox.html.twig' with {
            'product': product,
            'currentTableauCode': currentTableauCode
        } %} #}
    {% else %}
        {# 📦 Box produit classique #}
        {% include '@SyliusShop/Product/Box/_content.html.twig' with {
            'product': product,
            'currentTableauCode': currentTableauCode
        } %}
    {% endif %}
  {% endfor %}
</div>









{# {% set currentTableauCode = currentTableauCode|default(null) %}


<div class="ui four doubling cards">
{% for product in products %}
    {% include '@SyliusShop/Product/Box/_content.html.twig' with {
        'product': product,
        'currentTableauCode': currentTableauCode
    } %}
{% endfor %}
</div>
{# 
<div class="ui four doubling cards">
    {% for product in products %}
        {% include '@SyliusShop/Product/_box.html.twig' %}
    {% endfor %}
</div> #} #}
