<div class="column">
    {{ sylius_template_event('sylius.shop.layout.header.content') }}
    <h1 class="ui monster section dividing header">
    La boutique de L'Atelier
    <div class="sub header more">
    <h2>Impression sur tout support, encadrement sur meusures</h2>
    <h2>Ecole d'arts visuels et soutien scolaire</h2>
    </div>
    
</h1>
</div>
