<div class="homepage-banner">
    <div class="homepage-banner__image">
         {{ render(url('odiseo_sylius_banner_plugin_shop_partial_banner', {'template': '@OdiseoSyliusBannerPlugin/Shop/Banner/_banner.html.twig'})) }}

        
    </div>
    <div class="homepage-banner__content">
        <div>{{ 'sylius.homepage.banner_content'|trans }}</div>
        <a href="#" class="ui huge primary button">{{ 'sylius.homepage.banner_button'|trans }}</a>
    </div>

   
</div>
